/* Variables */

:root {
    --green-color: #CAF7E3;
    --pink-color: #F6DFEB;
}

body {
    margin: 0;
}

#title {
    height: 100%;
}

/* Containers */
.container-fluid {
    padding: 1% 4%;
}

/* Sections ¨*/

.colored-section {
    background-color: var(--pink-color);
    color: #FFF;
}

.white-section {
    background-color: #fff;
    color: var(--green-color)
}

/* Navigation Bar */

.navbar {
    padding: 0 0 1.5rem;
}

.navbar-brand {
    /* font-family: "Ubuntu"; */
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    /* font-size: 1.2rem;
    font-weight: 100; */
    color: #fff !important
}

.nav-link:hover {
    color: var(--green-color) !important
}

/* Presentation Section */

#presentation {
    height: 70vh;
    padding: 10px 0 20px
}

#presentation-carousel {
    width: 80%;
    margin: auto;
}

.presentation-text {
    font-size: 4rem;
    line-height: 1.5;
}

.presentation-description {
    font-size: 1.5rem;
    line-height: 1;
}

.welcome-item {
    background-image: url(../assets/welcome-opaque.png);
}

.products-item {
    background-image: url(../assets/products-opaque.png);
}

.services-item {
    background-image: url(../assets/services-opaque.png);
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 12%
}

/* Features Section*/

#features {
    position: relative;
    text-align: center;
}

.feature-box {
    padding: 5%;
}

.icon {
    margin-bottom: 1rem
}

.feature-title {
    font-size: 1.5rem;
}

/* Contact Form */

.contact-form {
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: var(--green-color);
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: var(--green-color);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

/* Footer Section */

#footer {
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
    color: #fff
}

.social-icon:hover {
    color: var(--green-color);
    cursor: pointer;
}

/* Products */

.add-btn {
    background-color: var(--pink-color);
}

.add-btn:hover {
    color: #fff
}

.price {
    color: var(--green-color);
}

@media screen and (max-width: 992px) {
    .presentation-text {
        font-size: 3rem;
        line-height: 1.5;
    }

    .presentation-description {
        font-size: 1rem;
    }
}